{% extends 'main.html' %}
{% load static %}


{% block content %}


<div style="display: flex; align-items: start; justify-content: center;">
<form id="login-form" method="POST" action="" style="margin: 4%; padding: 4%;">

    
    <center><div id="login-box" style="text-align: center; background-color: rgb(66, 68, 59); height: 270px; width: 400px; border-style: solid; border-color: black; border-radius: 5%; padding-top: 50px;">
    {% csrf_token %}
    <img src="{% static 'images\cropped_image.png' %}" style="height: 70px;">
    <br>
    <p>username</p>
    <input style="border-radius: 5px;" type="text" name="username">
    <br>
    <p style="margin-top: 5px;">password</p>
    <input style="border-radius: 5px;" type="password" name="password">
    
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    <br>
    <p>don't have an account? <a style="text-decoration: none; color: rgb(0, 95, 95);"  href="{% url 'signup' %}">signup</a></p>
    <br>
    <center><input style="border-radius: 2px; padding: 2px; background-color: rgb(0, 95, 95); cursor: pointer; width: 65px;" type="submit" value="login"></center>
    </div></center>
</form>
</div>
{% endblock content %}