{% extends 'main.html' %}
{% include 'navbar.html' %}

{% block content %}


<aside id="left-panel-content" style="min-height: calc(100dvh - 3.2rem);  text-align: center; border-right: 2px solid yellow; display: inline-block; margin: 0; vertical-align: top;"> <!--the 'deletelist' name is a madein name not necessaru be-->
    <div id="title" style=" background-color: rgba(0, 0, 0, 0.493); float: left; margin-left: 0px; border-bottom: 3px solid yellow; width: 291px; padding: 4px; "><h3 id="title-font" style="float: left; margin-left: 2px; font-size: x-large; font-weight: 500;">user's lists:</h3></div>
    <br>
    <br>
    <div>
        {% for l in list %}
            <div class="lists" hx-get="{% url 'taskview' l.id %}" hx-target="#right-panel-content" hx-trigger="click"  style=" text-decoration: none; color: black; cursor: pointer;  border-bottom: 1px solid yellow; width: 296px; display: block; padding: 2px; font-weight: 400; font-size: large;">
                {{l.name}}
            </div>
        {% endfor %}
    </div>
    <form method="post">
    {% csrf_token %}
    <input id="lists-input" style="border: none; height: 30px; width: 298px; background-color: rgb(32, 105, 105); position: absolute; bottom: 41px; left: 1px;" placeholder="enter a list name..." name="list_name" required>
    <div id="lists-button-container" style=" position: absolute; bottom: 0px; left: 0px; border: 1px solid yellow;"><input id="lists-button" style=" background-color: rgb(0, 95, 95); height: 40px; width: 300px; font-size: large; font-weight: 400; cursor: pointer;" type="submit" value="create List"></div>
    </form>

</aside>
<div id="right-panel-content" style="display: inline-flex; justify-content: center; align-items: start; height: 625px; max-width: 1040px; text-align: center; margin: 0; padding: 0; vertical-align: top;">
    {% include 'main_page/Taskview.html' %}
</div>


{% endblock content %}