{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav class="container" style="width: 100dvw; height: 50px; background-color: rgba(0, 0, 0, 0.493); border-bottom: 1px solid black;">
        <img src="{% static 'images\Devi_cho.png' %}" style="height: 40px; padding-top: 5px; padding-left: 5px;">
        <img src="{% static 'images\IMG_20250309_191505-fotor-bg-remover-20250309191620.png' %}" style="height: 40px; padding-top: 5px; padding-left: 5px;">
        <a style=" text-decoration: none; color: rgb(0, 95, 95); float: right; margin-right: 10px; margin-top: 1%;" href="{% url 'logout' %}">logout</a>
        <a style=" text-decoration: none; color: rgb(0, 95, 95); float: right; margin-right: 15px; margin-top: 1%;" href="{% url 'login' %}">login</a>
        <a style=" text-decoration: none; color: rgb(0, 95, 95); float: right; margin-right: 10px; margin-top: 1%;" href="{% url 'signup' %}">signup</a>
        

    </nav>
</head>
<body>
    
</body>
</html>
